# First print your name in the cell below then save this file. (or something nice about your instructor)

In [288]:
# In this cell print your name 
print("George")

George

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [289]:
import pandas as pd
import numpy as np
import os

# Load in the data file using `pd.read_csv()`

In [290]:
# Load data here
os.getcwd()
df = pd.read_csv("data//listings.csv")

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [291]:
# 1. How many listings are there with a price less than 100? 

print("there are "+str(sum(df["price"]<100))+" that are under 100")

there are 22778 that are under 100

In [292]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.\
df_bk=df["neighbourhood_group"]
df_bk_count=sum(df_bk=="Brooklyn")
print("There are "+str(df_bk_count)+" listings in Brooklyn")

There are 18632 listings in Brooklyn

In [293]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
df_list=df[["neighbourhood_group","price"]]

df_list=df_list[(df_list["neighbourhood_group"]=="Brooklyn") & (df_list["price"]<100)]

count=sum(df_list["price"]<100)

print("There are "+str(count)+" listings that are from Brooklyn and are less than $100")

There are 10473 listings that are from Brooklyn and are less than $100

In [294]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

count=sum(df["host_name"].isin(["Michael","David","John","Daniel"]))
print("There are "+str(count)+" listings with those names")

There are 1258 listings with those names

In [295]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

count=df["neighbourhood"]=="Williamsburg"

df["adjusted_price"]=0
a=6

for i in range(len(df["neighbourhood"])):
    if df["neighbourhood"][i]=="Williamsburg":
        df.at[i,"adjusted_price"]=100

sum(df["adjusted_price"]==100)==sum(df["neighbourhood"]=="Williamsburg") #Sanity check

True

In [296]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

percent_of_private=sum(df["room_type"]=="Private room")/len(df["room_type"])*100

percent_of_public=sum(df["room_type"]=="Shared room")/len(df["room_type"])*100

print(str(percent_of_private)+" of rooms are private")
print(str(percent_of_public)+" of rooms are public")

45.444580566122895 of rooms are private
2.12134889419047 of rooms are public

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [297]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
num_of_boroughs=len(df.groupby(by="neighbourhood_group"))

df.groupby("neighbourhood_group")["neighbourhood_group"].count() #I don't fully understand this ofcourse
#https://sparkbyexamples.com/pandas/pandas-groupby-count-examples/ This helped

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: neighbourhood_group, dtype: int64

In [298]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
df.groupby("neighbourhood_group")["price"].mean() #I think i'm getting the hang of this now

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [299]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
df.groupby("room_type")["price"].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [300]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

df.groupby("neighbourhood_group")["price"].agg(["min"])
df.groupby("neighbourhood_group")["price"].agg(["max"])

#I know

                       max
neighbourhood_group
Bronx                 1404
Brooklyn             10000
Manhattan            10000
Queens               10000
Staten Island         1200

In [301]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
df.groupby("room_type")["price"].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [302]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

df.groupby("neighbourhood_group")["price"].agg(["count","min","max","mean","median","std"])

                     count  min    max        mean  median         std
neighbourhood_group
Bronx                 1183   16   1404   92.751479    69.0   95.787081
Brooklyn             18632    0  10000  120.225258    90.0  180.136376
Manhattan            20580    0  10000  191.880466   129.0  428.682578
Queens                5791    0  10000   99.754965    70.0  207.648739
Staten Island          341   19   1200  110.947214    79.0  122.676152

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [303]:
# 1. Load the `prices.csv` and the `n_listings.csv`

df_prices = pd.read_csv("data//prices.csv")
df_list = pd.read_csv("data//n_listings.csv", sep=';')

In [304]:
# 2. Do join that keeps all the records for each table.

df_join = pd.merge(df_list,df_prices)

df_join #this feels like cheating

# 2. Do join that keeps all the records for each table.

#df_prices
#df_list
#df_join = df_list.join(df_prices)
#df_join=df_join.drop(df_join.columns[[2]],axis=1)

  neighbourhood_group  n_listings   mean_price
0               Bronx        1183    92.751479
1            Brooklyn       18632   120.225258
2           Manhattan       20580   191.880466

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.